In [8]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp
import math

In [9]:

ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [10]:
ages

[10,
 20,
 35,
 50,
 28,
 40,
 55,
 18,
 16,
 55,
 30,
 25,
 43,
 18,
 30,
 28,
 14,
 24,
 16,
 17,
 32,
 35,
 26,
 27,
 65,
 18,
 43,
 23,
 21,
 20,
 19,
 70]

In [11]:
len(ages)

32

In [12]:
ages_mean = np.mean(ages)
print(ages_mean)

30.34375

In [13]:
# One sample T-test
sample_size = 10
ages_sample = np.random.choice(ages, sample_size)

In [14]:
ages_sample

array([18, 10, 16, 18, 24, 16, 14, 20, 35, 20])

In [15]:
ttest, p_value = ttest_1samp(ages_sample, 30)

In [16]:
ttest

np.float64(-5.1137465249700655)

In [17]:
p_value

np.float64(0.0006332948435352452)

In [18]:
if p_value < 0.05:    
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [20]:
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [21]:
classA_ages.mean()

np.float64(46.9)

In [ ]:
_,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean())

In [23]:
p_value

np.float64(1.139027071016194e-13)

In [24]:
if p_value < 0.05:    
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [ ]:
# Two sample T test
np.random.seed(12)
classB_ages = stats.poisson.rvs(loc=18, mu=33, size=60)
classB_ages.mean()

np.float64(50.63333333333333)

In [29]:
_, p_value = stats.ttest_ind(a=classA_ages, b=classB_ages, equal_var=False)
p_value

np.float64(0.00039942095100859375)

In [30]:
if p_value < 0.05:    
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [31]:
# Paired T test
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [32]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [33]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [34]:
p_value

np.float64(0.5732936534411279)

In [35]:
if p_value < 0.05:    
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis